section{
  height: 84%;
  background-color: black;
  position: absolute;
  margin-top: 4rem;
  width: 100%;
  div{
    height: 45%;
    background-color: #4A4A4A;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1{
      color: white;
    }
    h4{
      color: grey;
    }
    button{
      display: block;
      width: 20%;
      margin: 0 auto;
      padding: 1rem;
      background-color: #FFF130;
      border-radius: 10px;
      cursor: pointer;
    }
  }
}
